@import 'pretendard/dist/web/variable/pretendardvariable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.hover_effect button {
    transition: 0.35s;
}

.hover_effect button:hover {
    text-shadow: 0 0 20px #000000;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

@media (prefers-color-scheme: dark) {
    .hover_effect button:hover {
        text-shadow: 0 0 15px #ffffff;
        -moz-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
    }
}

@layer utilities {
    .font-brand {
        @apply font-serif font-medium tracking-tightest;
    }

    .font-brand-light {
        @apply font-serif font-light tracking-tightest;
    }

    .font-brand-thin {
        @apply font-serif font-thin tracking-tightest;
    }
}
